@model IEnumerable<FirstApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Create an Employees</a>
<h2>Here is the list of Employees</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Sex</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Salary</td>
                <td>@item.Department</td>
                <td>@item.Sex</td>
                <td>
                    <a asp-action="Update" asp-route-empname="@item.Name">Update</a>
                </td>
                <td>
                    <form asp-route-empname="@item.Name" asp-action="Delete"  method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
